:root {
  --website-font: Inconsolata, monospace;
  --text-color: #dceef2;
  --block-background-color: #313131;
  --background-color: #252526;
  --accent-color: #aab9bf;
  --brighter-accent-color: #c1d4d9;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.heading {
  font-family: var(--website-font);
  color: var(--text-color);
  text-align: left;
  border-bottom: 1px #000;
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  position: static;
}

.topcontainer {
  margin-top: 90px;
  display: block;
}

.portraitdiv {
  object-fit: fill;
  flex: 1;
  order: 0;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.portraitimg {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
}

.headingcontainer {
  color: #000;
  margin-top: 0;
  padding-bottom: 0;
}

.sectionnamediv {
  border-bottom: 2px solid var(--text-color);
  border-radius: 0;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.sectionname {
  font-family: var(--website-font);
  color: var(--text-color);
  font-size: 36px;
  font-weight: 700;
}

.projectimagediv {
  flex: none;
  display: flex;
}

.projectinfodiv {
  flex-flow: column;
  flex: 1;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  display: flex;
}

.projectcontainer {
  margin-top: 10px;
  display: flex;
}

.projectimage {
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-color: #e0e0e000;
  border-radius: 20px;
  flex: 0 auto;
  overflow: clip;
}

.projectnamediv {
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0;
}

.projectname {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
}

.projectsummary {
  box-sizing: border-box;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #000;
  object-fit: fill;
  flex: 1;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: auto;
  align-items: center;
  display: block;
}

.viewproject {
  color: #393939;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}

.viewproject.w--current {
  color: #000;
}

.projectsummarydiv {
  flex: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.timeinvesteddiv {
  margin-top: 5px;
  margin-bottom: 5px;
}

.timeinvested {
  color: #000;
}

.quick-stack {
  padding-left: 0;
  padding-right: 0;
}

.skilldiv {
  flex-flow: column;
  align-self: center;
  padding-left: 0;
  display: flex;
}

.skillimage {
  aspect-ratio: 1;
  object-fit: fill;
  align-self: center;
  padding-top: 0;
}

.skillname {
  font-family: var(--website-font);
  color: var(--text-color);
  align-self: center;
  margin-top: 10px;
  padding-top: 0;
  font-size: 20px;
}

.projectheadingcontainer {
  margin-top: 20px;
  margin-bottom: 0;
}

.description {
  font-family: var(--website-font);
  color: var(--text-color);
  text-align: left;
  min-height: 128px;
  max-height: 128px;
  margin-top: 10px;
  display: flex;
}

.quick-stack-2 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.celldiv {
  background-color: var(--block-background-color);
  border-radius: 8px;
  flex-flow: column;
  flex: 0 auto;
  align-self: center;
  padding: 10px;
  display: flex;
}

.image-4 {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 4px;
}

.imagediv {
  flex: 1;
  align-self: center;
  margin-bottom: 15px;
}

.celltitlediv {
  margin-top: 10px;
  margin-bottom: 10px;
}

.viewprojectbutton, .viewprojectbutton.w--current {
  font-family: var(--website-font);
  color: var(--text-color);
  background-color: #000;
  border-radius: 6px;
}

.projectstack {
  padding-left: 0;
  padding-right: 0;
}

.cell {
  background-color: #0000;
  padding-left: 0;
}

.body {
  background-color: var(--background-color);
}

.section {
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--background-color);
  text-align: left;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 72px;
  margin-bottom: 0;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 1;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}

.portraittextdiv {
  flex: 1;
  align-self: stretch;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.portraittext {
  font-family: var(--website-font);
  color: var(--text-color);
  text-align: right;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding-right: 10px;
  font-size: 28px;
  line-height: 28px;
  display: flex;
}

.div-block-19 {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-block-10 {
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  font-family: var(--website-font);
  color: var(--text-color);
  text-align: right;
  border-radius: 0;
  flex: 0 auto;
  justify-content: flex-end;
  align-self: stretch;
  align-items: center;
  margin-left: auto;
  padding-left: 0;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  position: static;
  overflow: visible;
}

.educationcell {
  background-color: var(--block-background-color);
  border-radius: 8px;
  padding: 10px;
}

.subheading {
  border-bottom: 2px none var(--text-color);
  font-family: var(--website-font);
  color: var(--text-color);
  text-align: left;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.headerlink {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 0;
  display: flex;
}

.image-5 {
  flex: 0 auto;
}

.titlelink {
  flex: 0 auto;
  justify-content: flex-start;
  align-self: stretch;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
  display: flex;
}

.list {
  color: var(--text-color);
  list-style-type: disc;
}

.image-6 {
  aspect-ratio: 16 / 9;
  object-fit: fill;
  border-radius: 20px;
  flex: 1;
  align-self: stretch;
}

.listtext {
  font-family: var(--website-font);
}

.projectpagecontainer {
  margin-top: 90px;
}

.portfoliotext {
  font-family: var(--website-font);
  color: var(--text-color);
}

.quick-stack-4 {
  padding-left: 0;
  padding-right: 0;
}

#w-node-af0cfbd4-2a3f-98c4-ab4c-0c1b739ba287-9ad3c418 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-d7b06238-9306-b4d6-9d22-c0e8caf83fe8-9ad3c418 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#w-node-_9a616d20-4d52-5bcc-10aa-b9cbab89527c-9ad3c418, #w-node-ee45bfa8-9c7d-1827-1638-586258b74a39-d59f80b6 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}


