@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --main-font: 'Figtree';
  --code-font: 'Jetbrains Mono';
  --font-size: 16px;
  --font-size-header: 36px;

  --primary-color: #daecf0;
  --background-color: #1d1c1c;
  --sub-background-color: #313131;
  --line-width: 2px;
  --max-page-width: 940px;
  --section-height: 48px;
  --box-radius: 10px;
  --grid-gap-size: 20px;
}

body {
  background-color: var(--background-color);
}

div {
  display: flex;
  max-width: var(--max-page-width);
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: var(--main-font), sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: var(--primary-color);
}

h2 {
  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--primary-color);
}

text {
  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  font-weight: lighter;
  color: var(--primary-color);
}

p {
  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  font-weight: lighter;
  color: var(--primary-color);
}

code {
  font-family: var(--code-font), monospace;
  font-size: var(--font-size);
  font-weight: lighter;
}

.title-bar-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: var(--line-width) solid var(--primary-color);
  background-color: var(--background-color);
}

.title-bar-div {
  display: flex;
  align-items: center;
  height: 96px;
  margin-right: auto;
  margin-left: auto;
}

.title-bar-title-div {
  display: flex;
  flex-direction: row;
}

.portrait-img {
  align-self: center;
  max-width: 72px;
  max-height: 72px;
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 50%;
}

.header-text {
  font-family: var(--main-font), sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

.title-bar-img-div {
  margin-left: auto;
  margin-right: 8px;
}

.title-bar-img {
  width: 48px;
  height: 48px;
  margin-left: 18px;
}

.tagline-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  text-align: right;
  color: var(--primary-color);
}

.section-header-div {
  display: flex;
  align-items: center;
  height: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-bottom: var(--line-width) solid var(--primary-color);
}

.section-header-text {
  font-family: var(--main-font), sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: var(--primary-color);
}

.grid-container {
  display: grid;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap-size);
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: var(--box-radius);
  background-color: var(--sub-background-color);
}

.grid-item-horizontal {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: var(--box-radius);
  background-color: var(--sub-background-color);
}

.project-video {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 6px;
  aspect-ratio: 16 / 9;
}

.grid-item-title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: var(--primary-color);
}

.grid-item-summary {
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  color: var(--primary-color);
}

.project-button-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 0;
  margin-left: auto;
}

.project-button {
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  height: 40px;
  cursor: pointer;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  background-color: black;
}

.skills-grid-container {
  display: grid;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: var(--grid-gap-size);
}

.skill-grid-item {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.skill-img {
  width: 128px;
  height: 128px;
}

.skill-text {
  font-family: var(--main-font), sans-serif;
  font-weight: normal;
  text-align: center;
  color: var(--primary-color);
}

.paragraph {
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  width: var(--max-page-width);
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-color);
}

.project-video-div {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
}

.code-snippet-w-video-div {
  display: flex;
  flex-direction: row;
}

.code-block-div {
  overflow: auto;
  min-width: 360px;
  padding: 12px;
  background-color: black;
}

.code-block-file-name-header {
  font-family: var(--code-font), monospace;
}

.project-image {
  width: auto;
  height: auto;
  object-fit: contain;
}

.mechanics-grid-container {
  display: grid;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap-size);
  border-radius: var(--box-radius);
  /*background-color: var(--sub-background-color);*/
}

.mechanics-grid-item {
  display: flex;
  flex-direction: column;
  margin: auto 10px auto 0;
}

.mechanics-media {
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
  border-radius: var(--box-radius);
}

.mechanics-title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
  height: 24px;
}

.highlighted-text {
  color: orange;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  font-style: italic;
  /*cursor: pointer;*/
}

/* CSS overrides for Mobile */
@media screen and (max-width: 800px) {
  :root {
    --max-page-width: 540px;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .skills-grid-container {
    display: flex;
    flex-direction: column;
  }

  .mechanics-grid-container {
    display: flex;
    flex-direction: column;
  }

  .mechanics-grid-item {
    padding: 12px;
  }

  .mechanics-title {
    margin-top: -36px;
  }
}

/* CSS overrides for even smaller screens */
@media screen and (max-width: 500px) {

  /* Hides the portrait in the title bar */
  .portrait-img {
    position: fixed;
    align-self: center;
    max-width: 0;
    max-height: 0;
  }
}

@media screen and (max-width: 360px) {
  .tagline-text {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .mechanics-title {
    height: fit-content;
  }
}