@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono);
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --main-font: 'Figtree';
  --code-font: 'Jetbrains Mono';
  --font-size: 16px;
  --font-size-header: 36px;

  --primary-color: #daecf0;
  --background-color: #1d1c1c;
  --sub-background-color: #313131;
  --line-width: 2px;
  --max-page-width: 940px;
  --section-height: 48px;
  --box-radius: 10px;
  --grid-gap-size: 20px;
}

body {
  background-color: var(--background-color);
}

div {
  max-width: var(--max-page-width);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: var(--primary-color);
  font-size: var(--font-size);
  font-family: var(--main-font), sans-serif;
  font-weight: bold;
}

text {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  font-size: var(--font-size);
}

p {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  font-size: var(--font-size);
}

code {
  font-family: var(--code-font), monospace;
  font-weight: lighter;
  font-size: var(--font-size);
}

.title-bar-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--background-color);
  border-bottom: var(--line-width) solid var(--primary-color);
}

.title-bar-div {
  height: 96px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.title-bar-title-div {
  display: flex;
  flex-direction: row;
}

.portrait-img {
  max-width: 72px;
  max-height: 72px;
  border-radius: 50%;
  align-self: center;
  margin-right: 16px;
}

.header-text {
  font-size: 30px;
  font-family: var(--main-font), sans-serif;
  font-weight: bold;
  color: var(--primary-color);
}

.title-bar-img-div {
  margin-right: 16px;
}

.title-bar-img {
  width: 48px;
  height: 48px;
  margin-left: 18px;
}

.tagline-text {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: lighter;
  text-align: right;
  display: flex;
  align-items: center;
}

.section-header-div {
  height: var(--section-height);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: var(--line-width) solid var(--primary-color);
}

.section-header-text {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: left;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap-size);
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: var(--box-radius);
  background-color: var(--sub-background-color);
}

.grid-item-horizontal {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: var(--box-radius);
  background-color: var(--sub-background-color);
}

.project-video {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 6px;
  margin-bottom: 16px;
}

.grid-item-title {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 0;
}

.grid-item-summary {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
}

.project-button-div {
  display: flex;
  margin-left: auto;
  margin-right: 0;
  justify-content: space-between;
  align-items: flex-end;
}

.project-button {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  background-color: black;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
}

.skills-grid-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: var(--grid-gap-size);
}

.skill-grid-item {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.skill-img {
  height: 128px;
  width: 128px;
}

.skill-text {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: normal;
  text-align: center;
}

.paragraph {
  color: var(--primary-color);
  font-family: var(--main-font), sans-serif;
  font-weight: lighter;
  width: var(--max-page-width);
  margin-left: auto;
  margin-right: auto;
}

.project-video-div {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.code-snippet-w-video-div {
  display: flex;
  flex-direction: row;
}

.code-block-div {
  background-color: black;
  padding: 12px;
  min-width: 360px;
  overflow: auto;
}

.code-block-file-name-header {
  font-family: var(--code-font), monospace;
}

.media-with-summary-div {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--grid-gap-size);
}

.project-image {
  object-fit: contain;
}

/* CSS overrides for Mobile */
@media screen and (max-width: 720px)
{
  :root {
    --max-page-width: 540px;
  }

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .skills-grid-container {
    display: flex;
    flex-direction: column;
  }
}